{% extends 'base.html' %}

{% block content %}
   
{% include 'carousel.html'%}

<div class="container-fluid">
    <h3>Product Category</h3><hr>
    <div class="row">
        {% for p in category %}
        {% if forloop.counter <= 4 %}
        <div class="col-6 col-md-4 col-lg-3 my-2">
            <div class="card border-0" >
                <h4 class="m-3">{{ p.category_name }}</h4>
                <img src="{{ p.category_img.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <a class="btn btn-sm btn-dark" href="{% url 'product-category' name=p.category_name %}">View All {{ p.category_name }} Product</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>


<div class="container-fluid">
        <div class="row">

        <h4>Today Deals</h4>
        {% for cate in category %}
        {% if cate.category_name == 'Today Deals' %}
        <a  href="{% url 'product-category' name=cate.category_name %}">View All {{ cate.category_name }} Product</a>
        {% for p in cate.product_set.all %}
        <div class="col-6 col-md-4 col-lg-3">
            <div class="card border-0 my-3">
                <a href="{% url 'product-detail' p.slug %}"><img src="{{ p.image.url }}" class="card-img-top" alt="..."></a> 
                <div class="card-body">
                    <h5>{{ p.title }}</h5>
                    {% if p.discount_price %}
                    <b><h6>{{ p.discount_price }}</h6></b>
                    <span><del>{{ p.price }}</del></span>
                    {% else %}
                    <b>{{ p.price }}</b>
                    {% endif %}
                    <p>{{ p.date }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endfor %}
        </div>
    </div>


    <div class="container-fluid">
        <h3>Product Category</h3><hr>
        <div class="row">
            {% for p in category %}
            {% if forloop.counter >= 5 and forloop.counter <= 8 %}
            <div class="col-6 col-md-4 col-lg-3 my-2">
                <div class="card border-0" >
                    <h4 class="m-3">{{ p.category_name }}</h4>
                    <img src="{{ p.category_img.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a class="btn btn-sm btn-dark"  href="{% url 'product-category' name=p.category_name %}">View All {{ p.category_name }} Product</a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="container-fluid">
            <div class="row">
            <h4>Top Beauty and Personal Care Product</h4>
             {% for cate in category %}
             {% if cate.category_name == 'Top Beauty and Personal Care Product' %}
             <a  href="{% url 'product-category' name=cate.category_name %}">View All {{ cate.category_name }} Product</a>
                {% for p in cate.product_set.all %}
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card my-3 border-0">
                        <a href="{% url 'product-detail' p.slug %}"><img src="{{ p.image.url }}" class="card-img-top" alt="..."></a> 
                        <div class="card-body">
                            <h5>{{ p.title }}</h5>
                            {% if p.discount_price %}
                            <b><h6>{{ p.discount_price }}</h6></b>
                            <span><del>{{ p.price }}</del></span>
                            {% else %}
                            <b>{{ p.price }}</b>
                            {% endif %}
                            <p>{{ p.date }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    
    
{% endblock %}