{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        {% for p in product %}
        {% if forloop.counter <= 1 %}
        <h3 class='my-4'>{{ p.product_category.category_name }}</h3>
        {% endif %}
        <div class="col-6 col-md-4 col-lg-3 my-2">
            <div class="card border-0">
                <a href="{% url 'product-detail' p.slug %}"><img src="{{ p.image.url }}" class="card-img-top" alt="..."></a> 
                <div class="card-body">
                    <h5>{{ p.title }}</h5>
                    <a href="{% url 'product-category' name=p.product_category.category_name %}"><h6>{{p.product_category}}</h6></a> 
                    {% if p.discount_price %}
                    <b><h6>{{ p.discount_price }}</h6></b>
                    <span><del>{{ p.price }}</del></span>
                    {% else %}
                    <b>{{ p.price }}</b>
                    {% endif %}
                    <p>{{ p.date }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}